
# Environment Configuration
NODE_ENV=development

# database configuration
DATABASE_URL=


# Domain Configuration
NEXT_PUBLIC_DOMAIN=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000

# Email Configuration
RESEND_API_KEY=
SENDER_EMAIL=
SUPPORT_EMAIL=
ADMIN_EMAIL=
SENDER_NAME=



# Auth Configuration // node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
AUTH_SECRET=

# Password Configuration
PASSWORD_EXPIRATION_DAYS=90
PASSWORD_HASH_ROUNDS=12

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET=


# Redis & Upstash Configuration
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

REDIS_URL=



# Developer
DEVELOPER_EMAIL=

## Email on login alert allowlist
ALLOWLISTED_DEVELOPER_EMAILS=
